{% extends 'layout.html' %}

{% block css %}
{% endblock %}

{% block content %}

<div id='calendar' class="container" style="margin-bottom: 100px !important"></div>

    <script>

    document.addEventListener("DOMContentLoaded", function (info) {
      var calendarEl = document.getElementById("calendar");
      var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: "dayGridMonth",
      locale: 'de',

      headerToolbar: 
      {
        left: "prev,next today",
        center: "title",
        right: "dayGridMonth,timeGridWeek,timeGridDay",
      },

      selectable: true,
      // selectHelper: true,
      select : function(info) 
      {
        var title = prompt ("Enter Event Titel");
        if (title)
        { 
          var start = info.startStr;
          var end = info.endStr;
          $.ajax
          (
            {
              url:"/calendar/insert",
              type:"POST",
              data:{title:title, start:start, end:end},
              success:function(data)
               {
                 //alert(data)
                  calendar.refetchEvents();
                  
                  alert("Added Successfully");
                  window.location.replace("/calendar");
                  
                }
            }
          )

        }
      },

      editable: true,

      eventResize: function(info)
      {
        var start = info.event.dateStr.formatDate(start, "Y-MM-DD HH:mm:ss");
        var end = info.event.endStr.formatDate(start, "Y-MM-DD HH:mm:ss");
        var title = info.event.title;
        var id = info.event.id;
        $.ajax
        (
          {
            url:"/calendar/update",
            type:"POST",
            data:{title:title, start:start, end:end, id:id},
            success:function()
            {
              calendar.fullCalendar('refetchEvents');
              alert('Event Update');
            }
          }
        )
      },
      
      eventDrop: function(info)
      {
        var start = info.event.dateStr.formatDate(start, "Y-MM-DD HH:mm:ss");
        var end = info.event.endStr.formatDate(start, "Y-MM-DD HH:mm:ss");
        var title = info.event.title;
        var id = event.id;
        $.ajax
        (
          {
            url:"/calendar/update",
            type:"POST",
            data:{title:title, start:start, end:end, id:id},
            success:function()
            {
              calendar.fullCalendar('refetchEvents');
              alert("Event Updated");
            }
          }
        );
      },
  
      eventClick: function(info)
      {
        if(confirm("Are you sure you want to remove it?"))
        {
          var id = info.event.id;
          $.ajax
          (
            {
              url:"/calendar/delete",
              type:"POST",
              data:{id:id},
              success:function()
              {
                calendar.fullCalendar('refetchEvents');
                alert("Event Removed");
              }
            }
          )
        }
      },
  

      events: [{% for event in events %}{ id : '{{event.id}}', title : '{{event.title}}', start : '{{event.start}}', end : '{{event.end}}', }, {% endfor %}],
    
    
    });
    
    calendar.render();
    });

    </script> 

{% endblock %}