{% extends 'layout.html' %}

{% block css %}

<link href='fullcalendar/main.css' rel='stylesheet' />
<script src='fullcalendar/main.js'></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new Calendar(calendarEl, {
    headerToolbar: {
      center: 'dayGridMonth,timeGridFourDay' // buttons for switching between views
    },
    views: {
      timeGridFourDay: {
      type: 'timeGrid',
      duration: { days: 1 },
      buttonText: '4 day'
      }
    }
  });
});
</script>

{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <p>This is an example of a <span class="material-icons">face</span> face icon.</p>
    </div>

    <div id='calendar'></div>
{% endblock %} 