{% extends 'layout.html' %}



{% block css %}
{% endblock %}

{% block content %}

<div class="container">
  <div class="row"><p>Hey Jonas, deine Empfehlungen für heute...</p></div>

  <div class="row">

    {% for space in spaces[0:3] %}


    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="static/{{ space.img }}" alt={{ space.name }}  class="card-img-top"/>
        <div class="card-body">
          <h5 class="card-title">{{ space.name }}</h5>
          <p class="card-text" style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 220ch;">{{ space.description }}</p>
          <p>{{ space.street }}<br>{{ space.city }}</p>
          <a href="{{ space.pay }}" class="btn btn-primary"> {{ space.price }} Bezahlen</a>
        </div>
      </div>
    </div>

    {% endfor %}

    
  </div>

  

</div>

    <div id='calendar' class="container" style="margin-bottom: 100px !important"></div>

    <script>

      document.addEventListener("DOMContentLoaded", function () {
      var calendarEl = document.getElementById("calendar");
      var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: "listWeek",
      locale: 'de',
      contentHeight: 'auto',

      headerToolbar: 
      {
        left: "prev,next today",
        center: "title",
        right: "dayGridMonth,timeGridWeek,timeGridDay, listWeek",
      },

      selectable: true,
      selectHelper: true,
      select: function(start, end, allDay)
      {
        var title = prompt ("Enter Event Titel");
        if (title)
        {
          
          var start = $.fullCalendar.formatDate(start, "Y-MM-DD HH:mm:ss");
          var end = $.fullCalendar.formatDate(end, "Y-MM-DD HH:mm:ss");
          $.ajax
          (
            {
              url:"/calendar/insert",
              type:"POST",
              data:{title:title, start:start, end:end},
              success:function(data)
               {
                 //alert(data)
                  alert("Added Successfully");
                  window.location.replace("/");
                }
            }
          )

        }
      },

      editable: true,

      eventResize:function(event)
      {
        var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
        var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
        var title = event.title;
        var id = event.id;
        $.ajax
        (
          {
            url:"/calendar/update",
            type:"POST",
            data:{title:title, start:start, end:end, id:id},
            success:function()
            {
              calendar.fullCalendar('refetchEvents');
              alert('Event Update');
            }
          }
        )
      },
      
      eventDrop:function(event)
      {
        var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
        var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
        var title = event.title;
        var id = event.id;
        $.ajax
        (
          {
            url:"/calendar/update",
            type:"POST",
            data:{title:title, start:start, end:end, id:id},
            success:function()
            {
              calendar.fullCalendar('refetchEvents');
              alert("Event Updated");
            }
          }
        );
      },
  
      eventClick:function(event)
      {
        if(confirm("Are you sure you want to remove it?"))
        {
          var id = event.id;
          $.ajax
          (
            {
              url:"/calendar/delete",
              type:"POST",
              data:{id:id},
              success:function()
              {
                calendar.fullCalendar('refetchEvents');
                alert("Event Removed");
              }
            }
          )
        }
      },
  

      events : 
      [
        {% for event in events %}
        {
          title : '{{event.title}}',
          start : '{{event.start}}',
        },
        {% endfor %}
      ],
    
    });
    
    calendar.render();
    });

    </script>  
  
{% endblock %} 