{% extends 'layout.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
{% endblock %}
 
{% block content %}

<div class="container" style="margin-bottom: 100px !important">

<div class="card mb-3" style="max-width: 740px;">
  <div class="row g-0">
    <div class="col-md-4" style="
      background-image: url('{{ current_user.profile_pic }}');
      background-repeat: no-repeat;
      background-size: cover;
      border-top-left-radius:     4px;
      border-bottom-left-radius:  4px;
      height: 220px !important;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Welcome, {{ current_user.name }}!</h5>
        <p class="card-text">You're logged in with your Google Account: <br> {{ current_user.email }}</p>
        <p class="card-text"><small class="text-muted"><a class="btn btn-primary" href="{{ url_for('logout') }}" role="button">Logout Google Account</a></small></p> 
      </div>
    </div>
  </div>
</div>

</div>

{% endblock %}